* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: 0;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
body,
html {
  width: 100%;
  min-width: 320px;
  height: auto;
  font-family: "Microsoft YaHei", Arial, sans-serif;
}
li {
  list-style: none;
}
a, a:hover, a:focus {
  text-decoration: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.hidden {
  display: none;
}
