html {
  font-family: sans-serif
}

a, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hr, html, img, input, label, legend, li, mark, ol, p, section, span, strong, textarea, time, ul, var {
  margin: 0;
  border: 0;
  padding: 0;
  font-style: normal;
  color: #323232
}

body, html {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  background-color: #fff
}

article, aside, details, fieldset, figcaption, figure, footer, header, main, nav, section {
  display: block
}

a, button, cite, code, del, em, img, label, mark, small, strong, textarea, time, var {
  display: inline-block
}

footer, header, section {
  position: relative
}

ol, ul {
  list-style: none
}

button, input, textarea {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1em;
  background-color: transparent
}

span {
  display: inline-block
}

a:active, a:hover {
  outline: 0
}

a, a:visited {
  text-decoration: none
}

.wordWrap, label {
  word-wrap: break-word;
  word-break: break-all
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td, th {
  padding: 0
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

.hidden {
  display: none;
}